* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

.wrap {
  height: 100vh;
}

.header {
  height: 15vh;
  background-color: rgb(160, 250, 255);
  padding: 3vh;
}

.logo {
  position: absolute;
  left: 5vw;
  height: 9vh;
  object-fit: cover;
}

.reset {
  width: 10vw;
  height: 9vh;
  position: absolute;
  top: 3vh;
  left: 38vw;
  background-color: rgb(160, 250, 255);
  text-align: center;
  font-size: 5vh;
  border-width: 1px;
  border-radius: 5px;
}

.switch {
  width: 10vw;
  height: 9vh;
  position: absolute;
  top: 3vh;
  left: 51vw;
  background-color: rgb(160, 250, 255);
  text-align: center;
  font-size: 5vh;
  border-width: 1px;
  border-radius: 5px;
}
.reverse {
  height: 9vh;
}

.maker {
  position: absolute;
  right: 5vw;
  margin-top: 7vh;
  font-size: 5vh;
}

.main {
  height: 85vh;
  padding: 5vh 3vw;
}

.left,
.right {
  background-color: rgb(98, 98, 99);
  width: 32vw;
  height: 75vh;
  display: inline-block;
  border: 3px solid rgb(98, 98, 99);
  border-radius: 5vh;
  padding: 5vh 3.5vw;
}

.clock {
  background-color: rgb(0, 0, 0);
  width: 23vw;
  height: 25vh;
  display: inline-block;
  border: 5px solid rgb(98, 98, 99);
  border-radius: 5vh;
  position: absolute;
  left: 38vw;
}

.application {
  background-color: rgb(160, 250, 255);
  width: 23vw;
  height: 20vh;
  position: absolute;
  top: 45vh;
  left: 38vw;
  margin-top: 5vh;
  border-radius: 5vh;
  text-align: center;
  line-height: 20vh;
  font-weight: bold;
  font-size: 8vh;
}

.manual {
  margin: 5vh;
  height: 20vh;
  position: absolute;
  top: 70vh;
  margin-left: 6vw;
}

.right {
  position: absolute;
  margin-left: 3vw;
  right: 3vw;
}

.team {
  width: 25vw;
  height: 10vh;
  border: 3px solid white;
  background-color: white;
  border-radius: 1vh;
  text-align: center;
  line-height: 10vh;
  font-weight: bold;
  font-size: 8vh;
}

.score {
  margin-top: 5vh;
  width: 25vw;
  height: 50vh;
  border: 10px solid white;
  border-radius: 1vh;
  text-align: center;
  line-height: 50vh;
  font-weight: bold;
  font-size: 40vh;
  color: white;
}

.time {
  text-align: center;
  line-height: 24vh;
  font-weight: bold;
  font-size: 9vw;
  color: white;
}
